#root {
  display: flex;
}

nav {
  position: fixed;
  min-width: 250px;
  padding: 2rem 0;
  height: 100vh;
}

main {
  height: 100vh;
  width: calc(100% - 250px);
  overflow-x: scroll;
  margin-left: 250px;
}
